<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="signup.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"></script>
</head>
<body>
    <form method="post" onsubmit="signup(event)">
        <label for="name"> Name: </label>
        <input type="text" id="name" name="name" required> <br>
        <label for="phone"> Phone: </label>
        <input type="text" id="phone" name="phone" required> <br>
        <label for="email"> Email: </label>
        <input type="text" id="email" name="email" required> <br>
        <label for="password"> Password: </label>
        <input type="password" id="password" name="password" required> <br>
        <button type="submit" id="submit-btn">Submit </button>
        <button type="button" id="reset-btn" onclick="reset()"> Reset </button>
        <a href="login.html">Existing User - Login </a>
    </form>
</body>
</html>